	<form name="main_form" action="/add" method="post">
		Alias <input  type="text" name="alias" size="65" /></br>
		Url <input  type="text" name="url" size="65" /></br>
		Description <input  type="text" name="desc" size="65" /></br>
		<input type="submit" text="Go" />
	</form>