	<form name="main_form" action="/add" method="post">
    <table>
      <tbody>
		    <tr>
          <td>alias</td><td><input  type="text" name="alias" size="65" /></td>
        </tr>
        <tr>
          <td>Url</td><td> <input  type="text" name="url" size="65" /></td>
        </tr>
        <tr>
          <td>Description</td><td><input  type="text" name="desc" size="65" /></br></td>
        </tr>
      </tbody>
    </table>

    <input style="align:center" type="submit" text="Go" />

  </form>
