<p>
<table>
	<thead>
		<tr>
			<th>alias</th>
			<th>website</th>
		</tr>
	</thead>
	<tbody>
	
	<% @aliases.each{ |entry| %>
		<tr>
			<td><b> <%= entry.alias %> </b></td>
			<td> <%= entry.desc %> </td>
		</tr>
	<% }%>

	</tbody>
</table>
</p>