<p>
<table>
	<thead>
		<tr>
			<th>alias</th>
			<th>website</th>
		</tr>
	</thead>
	<tbody>
	
	<% @alias.each{ |key,url| %>
		<tr>
			<td><b> <%= key %> </b></td>
			<td> <%= url %> </td>
		</tr>
	<% }%>

	</tbody>
</table>
</p>