<h2> Commands </h2>
:help -- List all commands and searches</br>

<h2> Searches </h2>
as   -- www.as.com </br>
rdoc -- Ruby docs (Eg. 'rdoc String') </br>


The term will be used as a google search term in case the word  entered cannot be identified as a command nor a custom search.</br>