<p>
<table>
	<thead>
		<tr>
			<th>Command</th>
			<th>Description</th>
		</tr>
		
	</thead>	
	<tbody>
		<% @commands.each{ |command,value| %>
			<tr>
				<td> <%= command %> </td>
				<td> <%= value[:desc] %></td>
			</tr>
		<% }%>

	</tbody>
</table>
</p	>