<table>
	<tbody>
		<tr>
			<td>Commands</td>
		</tr>
		<tr>
			<td>--------</td>
		</tr>
		<% @commands.each{ |command,url| %>
			<tr>
				<td> <%= command %> </td>
			</tr>
		<% }%>

		</tbody>
	</table>