</br>

<p class="informative_msg"> type <code>:help</code> to see a list of available commands </p>

</br></br></br></br></br></br></br>
</br></br></br></br></br></br></br>
</br></br></br>

<div id="footer">
	<p class="credits">Copyright &copy; by JTeso 2MXI</a>
</div>
	
