<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<title>aliases</title>
	<%= partial(:'partials/stylesheets') %>
	<!-- google analytics> -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-1587055-7']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		

</head>
<body id='container'>
	
	<div id="header">
		<form name="main_form" action="/execute" method="get">
		  <span id="header_logo"></span>
		  <input class="search" type="text" name="command" size="65" autocomplete="off" spellcheck="false"/>
		  <a class="button" href="javascript: submitform()"><span>Go!</span></a>
	      	<% if @user %>
			 		<span class="head_user"><%=  @profile_name  %> |</span>
				    <a href="/signout" style="text-decoration:none;"><span class="head_user">Log out &rarr;</span></a>			
			  <% else %>
					<a href="/signin_with_twitter" style="text-decoration:none;"><span class="head_user">Log in with Twitter &rarr;</span></a>	
			  <% end %>
		</form>	
	</div>
	<div id="bodier">
	<%= yield %>
	</div>

</body>

<!-- get initial focus on search text -->
<script type="text/javascript" language="JavaScript">
	document.forms['main_form'].elements['command'].focus();
	function submitform()
	{
		document.main_form.submit();
	}
</script>
<script type="text/javascript" language="JavaScript">

</script>

</html>