<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
	<title>aliases</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/> 
</head>
<body id='container'>
	<!-- <img src='/url.png'> -->
	<div id="header">
		<form name="main_form" action="/execute" method="get">
		  <p class="thehook"> Web Aliases</p>
		  <p><input class="search" type="text" name="websearch" size="65" autocomplete="off" spellcheck="false"/></p>
		  <input type="submit" value="Go!">
		</form>	
	</div>
	<div id="bodier">
	<%= yield %>
	</div>

</body>

<script type="text/javascript" language="JavaScript">
	document.forms['main_form'].elements['websearch'].focus();
</script>

</html>