
body {
	font-family:"Consolas","lucida grande",tahoma,arial,sans-serif;

}
#header {
	width: 100%;
	height: 43px;
	z-index: 999;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	background: #333333 ;

}

span.head_user{
	color: #68BFEB;
	font-weight: bold;	
	position: relative;
	left: -60px;
	float: left;
	display: block;
	padding: 0 10px;
	-webkit-font-smoothing: subpixel-antialiased;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	outline: none;
	height: 40px;
	text-transform: lowercase;
	font-weight: 200;
	line-height: 45px;
	text-decoration: none;
}
#header a.button{
	position: relative;
	left: -60px;
	top: 9px;
	    background: transparent url('bg_button_a.gif') no-repeat scroll top right;
	    color: #444;
	    display: block;
	    float: left;
	    font: normal 12px arial, sans-serif;
	    height: 24px;
	    margin-right: 6px;
	    padding-right: 18px; /* sliding doors padding */
	    text-decoration: none;
}

#header	a.button span {
	    background: transparent url('bg_button_span.gif') no-repeat;
	    display: block;
	    line-height: 14px;
	    padding: 5px 0 5px 18px;
}
#header a.button:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

#header a.button:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
}
	
}

thead th {
	font-variant: small-caps;
	font-family: corbel, 'lucida grande', helvetica, sans-serif;
	font-size:1.4em;
}
input[type="submit"] {
	float:left;
	font-variant: small-caps;
	font-family: corbel, 'lucida grande', helvetica, sans-serif;
	font-size: 1.1em;
	color: #717273;
	margin-left:2px;
}

#bodier p {
	color: #555;
	font-size: 0.88em;
}

input.search{
	float:left;
	margin-left: 250px;
	border : 1px solid #DDD;
	border-top-color: #CCC;
	border-bottom-color: #EAEAEA;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 6px 26px 6px 6px;
	font-size:13px;
	margin-left:10px;
	
}
#container {
	display: block;
/*	margin: 50 auto; */
	text-align: -webkit-center;
}

#header_logo{
	float: left;
	padding-left: 320px;
	padding-top: 10px;
	font-size: 17px;
	-webkit-font-smoothing: subpixel-antialiased;
	color:white;
}


#bodier {
	clear:both;
	max-width: 718px;
	margin-top: 40px;
}

#footer{
	clear: both;
	color: #555;
	font-size: 0.88888888em;
	line-height: 1.5625;
	border-top: 1px solid #DDD;
	padding: 19px 0 0 0;
	margin: 40px 0 20px 0;
	text-align: center;
	
}

p.thehook{
	font-family: georgia, 'bitstream vera sans serif', 'lucida grande', helvetica, verdana, sans-serif;
	font-weight: normal;
	letter-spacing: -0.075em;
	color: black;
	font-size: 32px;
}

pre {
	margin: 20px 0;
	padding: 6px 4px 4px 6px;
	border: 1px solid #EEE;
	border-left-width: 20px;
	overflow: auto;
	color: #333;
	background-color: #F9F9F9;
}

code{
	color: #007A00;
	font-family: "Courier New", Monaco, Courier, monospace;
	font-size: 18px;
}
